body{
 background:#4fffbb;
 }
h1,p{color:#0000aa;}
canvas#cv{ border:solid 2px #0000aa;}
#eScore,#eFind{
 color:#0000aa;
 text-align:center;
 font-weight:bold;
}
#eScore{
  font-size:120%;
}
#eFind{
  font-size:160%;
  padding:4%;
  border:solid 2px #0000aa;
}

button.b{
 width:50%;
 margin-left:25%;
 margin-right:auto;
}
button.b:hover, button.b:active{
  box-shadow: 8px 8px 8px #888888;
}
.rb{
 border:solid 2px #0000aa;;
 -webkit-appearance:none;
 float:none;
 background: #00935a; /* Browsers not supporting gradients */
 color:#0000aa;
 font-weight:bold;
 font-size:large;
}