/* Narrow Screens Landscape Only */
/* REALIGNMENT,TOC,BUTTONS,ADS,SOCIAL*/
/* Narrow Landscape */
@media (orientation: landscape) {
 /* DEFAULT */
body{font-size:100%;}
q,h1,h2,h3,h4,h5{text-align:center;}
h1{font-size:large;}
h2{font-size:medium;}
h3{font-size:small;}
h4{font-size:smaller;}
p {
 font-weight:normal; 
 text-align:left; 
 padding-top:1%;
}
q {margin-bottom:1%;}
li {
 padding-bottom:2%;
}
select
{
 padding-top:4%; 
 padding-bottom:4%; 
 font-weight:bold;
 font-size:large;
}
pre {
white-space: pre-wrap;       /* Since CSS 2.1 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

nav.links{
 padding-top:2%; 
}
/* SOCIAL */
div.fb,div.tw,div.ln{
 padding:1%;
}
/* SITE MAP */
input.f-search{
 width:44px;
 height:60px;
 padding-top:16px;
 background-size: 44px 44px;
 background-position: left bottom;
 background-image:url('Images/if-search.png');
}
input.f-text{
 margin-top:2%;
 font-weight:bold;
 font-size:large;
 width:70%;
 padding-top:3%;
 padding-bottom:3%;
 float:left;
 margin-left:4px;
}
a.sm,a.h{
 font-size:90%;
 padding-top:3%;
 padding-bottom:3%;
 padding-left:2%;
 margin-top:2%;
} 
/* TUTORIALS */
a.bm{ 
 width:100%;
 display:block;
 clear:both;
 padding-bottom:4%;
 margin-bottom:2%;
}
img.ex,img.diagram{
 width:80%; margin-left:auto; margin-right:auto;
 display:block; clear:both; float:none;
} 
div.lnk{
 width:50%;
 margin-bottom:6%;
}
/* REALIGNMENT */
#eGraphic,#eText{
 float:none;
 clear:both;
 display:block;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}
#eText{
  width:90%;
}
#eGraphic{
 width:60%;
}
/* GDC */
div.gdc  div.gdc  div.gdc{
 width:100%;
 display:block; 
 clear:both;
 float:none;
}
div.arrows{
 font-weight:bold;
 height:44px;
 margin-bottom:4%;
}
img.arrow-r,img.arrow-l{width:44px; height:auto;}
/* TOC */
/* BUTTONS */
.btn{
 float:none;
 clear:both;
 display:block;
 width:70%;
 margin-right:auto;
 margin-left:auto;
 margin-bottom:6%;
 padding-bottom:2%;
 padding-top:2%;
 font-weight:bold;
}
button.btn{
 width:40%;
 margin-left:0px;
}
#eText{
 margin-top:0px;
 margin-bottom:0px;
}
button.btn{
 font-size:110%;
}
div.digits{width:224px;}
.btn-next{
 margin:1%;
}
/* QUICK LINKS */
a.icon{
 width:58px;
}
/* ADS */
/* Portrait format ads only */
.symbol{ font-size:110%;}  
 /* Google Units Link and Text */
div.ads-text,div.ads-link{clear:both; display:block; float:none; margin-left:auto; margin-right:auto;}
div.ads-link-text{margin-top:1px; margin-bottom:1px;}
/* Google Text Units */
div.adsense-text{width:244px; height:138px; padding-top:2px;}
div.adsense-link{padding-top:2px; width:238px; height:196px; }
div.adsense-link-text{width:242px; height:188px; padding-top:4px;}
/* text ad 234x60 */
div.ads-text{float:none; clear:both; display:block; }
/* link ad 200x90 */
div.ads-link{ margin-top:2px; float:none; display:block;}
/* link + text ads */
div.adsense-link-text div.ads-text, div.adsense-link-text div.ads-link{float:none; clear:both; text-align:center; margin-left:auto; margin-right:auto;}
}